<div class="row">
  <div class="col-sm-6">
    <h2>Sign Up</h2>
    <form id="signup">
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <br>
    <a href="/login">Log in Instead</a>
  </div>

  <script src="/js/signup.js"></script>